<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sourcePath" value="M:\TSPythonProj\TS-STR\data\Raw\" />
    <add key="processedPath" value="M:\TSPythonProj\TS-STR\data\Processed\" />
    <add key="failedPath" value="M:\TSPythonProj\TS-STR\data\Failed\"/>
    <add key="csvprocessedPath" value="M:\TSPythonProj\TS-STR\data\CSVied\"/>
    
  </appSettings>
</configuration>